<div class='container'>
  <h2 class='title-font'>Manage Posts</h2>

  <table>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Author</th>
      <th>Date</th>
      <th>Hidden?</th>
      <th>Actions</th>
    </tr>
    {{#each posts}}
      <tr>
        <td>{{this._id}}</td>
        <td>{{this.title}}</td>
        <td>{{this.author}}</td>
        <td>{{formatDateFull this.date}}</td>
        <td>{{this.hidden}}</td>
        <td class='flex'>
          <a href='/posts/edit/{{this._id}}' class='btn primary'>Edit Post</a>
          <form action='/posts/{{this._id}}?_method=DELETE' method='post'>
            <button type='submit' class='btn danger'>Delete</button>
          </form>
        </td>
      </tr>
    {{/each}}
  </table>

  <h2 class='title-font'>Manage Users</h2>
  <div class='button-row'>
    <form action='/users/logout' method='post'>
      <button type='submit' class='btn primary'>Sign out</button>
    </form>
    <a href='/users/register' class='btn primary'>Register new user</a>
  </div>
</div>